{% extends "base.html" %}
{% block content %}
<h1>Confirmation</h1>
<h2>Cluster Name: {{session.clname}}</h2>

<div id="defblocks">
Defined Storage Blocks
{% for blockname in session.blocks|sort %}
    <table>
    <tr>
    <th>Name</th>
    <td>{{blockname}}</td>
    <th>Pool</th>
    <td>{{session.blocks[blockname]["pool"]}}</td>
    <th>Ports</th>
    <td>{{session.blocks[blockname]["ports"]}}</td>
    <th>Begin LDEV</th>
    <td>{{session.blocks[blockname]["begin"]}}</td>
    <th>End LDEV</th>
    <td>{{session.blocks[blockname]["end"]}}</td>
    <th>Size (GB)</th>
    <td>{{session.blocks[blockname]["size"]}}</td>
    <th>Chassis</th>
    <td>{{session.blocks[blockname]["chassis"]}}</td>
    </tr>
    </table>
{% endfor %}
</div>
<div id="defdomains">
Defined Domains
{% for domname in session.domains|sort %}
    <table>
    <tr>
    <th>Name</th>
    <td>{{domname}}</td>
    <th>Cores</th>
    <td>{{session.domains[domname]["cores"]}}</td>
    <th>Memory</th>
    <td>{{session.domains[domname]["ram"]}}</td>
    <th>Public PVID</th>
    <td>{{session.domains[domname]["pvid"]}}</td>
    <th>Class</th>
    <td>{{session.domains[domname]["pclass"]}}</td>
    <th>Patch Group</th>
    <td>{{session.domains[domname]["pgroup"]}}</td>
    <th>Owner</th>
    <td>{{session.domains[domname]["powner"]}}</td>
    <th>Chassis</th>
    <td>{{session.domains[domname]["chassis"]}}</td>
    </tr>
    </table>
{% endfor %}
</div>
<form action="/confirm" method="POST" name="Confirm">
{{form.backbtn}}
{{form.cfmbtn}}
</form>
{% endblock %}
