{% extends "base.html" %}
{% block content %}
<h1>Domain Configuration</h1>
Cluster Name: {{session.clname}}

<form action="/domain" method="POST" name="Domain">
<div id="defdoms">
{% if session.domains|length > 0 %}
    Defined Domains
    {% for domname in session.domains %}
        <table>
        <tr>
        <th>Name</th>
        <td>{{domname}}</td>
        <th>Cores</th>
        <td>{{session.domains[domname]["cores"]}}</td>
        <th>Memory (GB)</th>
        <td>{{session.domains[domname]["ram"]}}</td>
        <th>Public PVID</th>
        <td>{{session.domains[domname]["pvid"]}}</td>
        <th>Class</th>
        <td>{{session.domains[domname]["class"]}}</td>
        <th>Patch Group</th>
        <td>{{session.domains[domname]["pgroup"]}}</td>
        <th>Chassis</th>
        <td>{{session.domains[domname]["chassis"]}}</td>
        </tr>
        </table>
        <input type="submit" name="rmbtn" value="Remove {{domname}}">
    {% endfor %}
{% else %}
    No Domains currently defined
{% endif %}
</div>
<div id="fields">
Name: {{form.name(size=15)}}<br>
Cores: {{form.cores(size=2)}}<br>
Memory in GB: {{form.ram(size=3)}}<br>
Public PVID: {{form.pvid(size=4)}}<br>
Class: {{form.pclass}}<br>
Patch Group: {{form.pgroup}}<br>
Chassis: {{form.chassis(size=50)}}<br>
</div>
{{form.backbtn}}
{{form.addbtn}}
{{form.nextbtn}}
</form>
{% endblock %}
