{% extends "base.html" %}
{% block content %}
<h1>Storage Configuration</h1>
<h2>Cluster Name: {{session.clname}}</h2>

<form action="/storage" method="POST" name="Storage">
<div id="defblocks">
{% if session.blocks|length > 0 %}
    Defined Storage Blocks
    {% for blockname in session.blocks.iterkeys()|sort %}
        <table>
        <tr>
        <th>Name</th>
        <td>{{blockname}}</td>
        <th>Pool</th>
        <td>{{session.blocks[blockname]["pool"]}}</td>
        <th>Ports</th>
        <td>{{session.blocks[blockname]["ports"]}}</td>
        <th>Begin LDEV</th>
        <td>{{session.blocks[blockname]["begin"]}}</td>
        <th>End LDEV</th>
        <td>{{session.blocks[blockname]["end"]}}</td>
        <th>Size (GB)</th>
        <td>{{session.blocks[blockname]["size"]}}</td>
        <th>Chassis</th>
        <td>{{session.blocks[blockname]["chassis"]}}</td>
        </tr>
        </table>
        <input type="submit" name="rmbtn" value="Remove {{blockname}}">
    {% endfor %}
{% else %}
    No Storage Blocks currently defined
{% endif %}
</div>
<div id="fields">
{{form.name.label}} {{form.name(size=20, maxlength=20)}}
{% if form.name.errors|length > 0 %}
    <p class="validerr">{{form.name.errors[0]}}</p>
{% endif %}
<br>{{form.pool.label}} {{form.pool(size=2, maxlength=2)}}
{% if form.pool.errors|length > 0 %}
    <p class="validerr">{{form.pool.errors[0]}}</p>
{% endif %}
<br>{{form.ports.label}} {{form.ports(size=20)}} (comma-separated)
{% if form.ports.errors|length > 0 %}
    <p class="validerr">{{form.ports.errors[0]}}</p>
{% endif %}
<br>{{form.begin.label}} {{form.begin(size=5, maxlength=5)}}
{% if form.begin.errors|length > 0 %}
    <p class="validerr">{{form.begin.errors[0]}}</p>
{% endif %}
<br>{{form.end.label}} {{form.end(size=5, maxlength=5)}}
{% if form.end.errors|length > 0 %}
    <p class="validerr">{{form.end.errors[0]}}</p>
{% endif %}
<br>{{form.size.label}} {{form.size(size=4, maxlength=4)}} (GB)
{% if form.size.errors|length > 0 %}
    <p class="validerr">{{form.size.errors[0]}}</p>
{% endif %}
<br>{{form.chassis.label}} {{form.chassis(size=20)}} (comma-separated)
{% if form.chassis.errors|length > 0 %}
    <p class="validerr">{{form.chassis.errors[0]}}</p>
{% endif %}
</div>
{{form.backbtn}}
{{form.addbtn}}
{{form.nextbtn}}
</form>
{% endblock %}
